{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Friends</title>

</head>
<body>{% block content %}

<div class="starter-template">

    <h1>Add user to my friend list</h1>
    <div class="container">
        <div class="starter-template">
            <ul class="list-group">
                {% for user in users %}

                    <li class="list-group-item justify-content-between">
                        {{ user.username }}
                        <button id="{{ user.id }}" class="addFriend badge badge-default badge-pill">+</button>
                    </li>


                {% endfor %}
                {% if not users %}
                    <i style="">not users to display</i>

                {% endif %}
            </ul>
        </div>
    </div>
</div>{% endblock content %}

</body>

<script>

{% block scripts %}
    function addFriend(data) {
        $.ajax({
            method: 'post',
            url: "/friends/",
            data: data,
            success: function () {
                window.location = "/";
            }
        }).fail(function () {
            alert("Friendship already exists");
        }).done(function (msg) {
        });
    }

    $('.addFriend').on('click', function () {
        var data_friend = {second_user: $(this).attr("id")};
        addFriend(data_friend);

    });


</script>
{% endblock scripts %}
</html>