{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
{% block content %}


<div class="container">
    <div class="starter-template">
        <h1>Welcome {{ logged_user }}</h1>

{#         <select id="username">#}
{#             {% for post in posts %}#}
{#                <option value= "{{ post.author__username}}">{{ post.author__username }}</option>#}
{##}
{#             {% endfor %}#}
{#         </select>#}
        <div class="row">
            <div class="col-sm-12">

                <h3>Posts</h3>
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->


{#            <div id="post_example" hidden>#}
{#                    <div class="row post_to_add">#}
{#                        <div class="col-lg-6 col-lg-offset-3">#}
{#                            <div class="panel panel-default">#}
{#                                <div class="panel-heading">#}
{#                                    <strong id="title">{{ post.author__username }}: {{ post.title }}</strong> <span#}
{#                                        class="text-muted">{{ post.date_posted }}</span>#}
{#                                </div>#}
{#                                <div class="panel-body">#}
{#                                    {{ post.description }}#}
{#                                </div><!-- /panel-body -->#}
{#                            </div><!-- /panel panel-default -->#}
{#                        </div><!-- /col-sm-5 -->#}
{#                    </div>#}
{#                </div>#}


            {% for post in posts %}
                <div id="post_{{ post.id }}">
                    <div class="row post_added">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>{{ post.author__username }}: {{ post.title }}</strong> <span
                                        class="text-muted">{{ post.date_posted }}</span>
                                </div>
                                <div class="panel-body">
                                    {{ post.description }}
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div>
                </div>
            {% endfor %}

    </div>
</div>
{% endblock content %}

</body>


</html>