{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Friends</title>
</head>
<body>
{% block content %}
<div class="starter-template">

    <h1>Friends</h1>
    <div class="container">

            <ul class="list-group">
                {% for user in users %}

                    <li class="list-group-item justify-content-between">
                        {{ user.username }}
                    </li>
                {% endfor %}
            </ul>

    </div>

</div>
{% endblock content %}
</body>
</html>