<!DOCTYPE html>
<html>
<head>
    <title>Friends</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/styles.css" rel="stylesheet">
</head>
<body>
<a href="/">Main page</a>
<h1>Add user to my friend list</h1>

        {% for user in users %}
            <ul>
                <li>
                    {{ user.username }}
                    <button id="{{ user.id }}" class="addFriend badge badge-default badge-pill">+</button>
                </li>

            </ul>
        {% endfor %}

</body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>




     var csrftoken = "{{ csrf_token }}";
    $(document).ready(function () {
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });


    function addFriend(data) {
        $.ajax({
            method: 'post',
            url: "/friends/",
            data: data,
            success: function () {
               window.location = "/";
            }
        }).fail(function () {
           alert("ya sos amigo de ese gil");
        }).done(function (msg) {
        });
    }

    $('.addFriend').on('click', function () {
        var data_friend = {second_user : $(this).attr("id")};
        addFriend(data_friend);

    });


</script>

</html>